<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <link href="//fonts.googleapis.com/css?family=Kanit:600|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container" style="padding-top: 24px;">
            <div class="row">
                <div class="col-md-8 game-controls">
                    <h1>Ro Sham Bo</h1>
                    <h2>The Next Generation</h2>
                    <h3>Because when Spock is involved, you need a Trek joke.</h3>
                    {% block body %}{% endblock %}
                    <div class="row">
                        {% block stats %}{% endblock %}
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="help-section">About the Game</h3>
                    <p>
                        This is an implementation of
                        <a href="http://www.samkass.com/theories/RPSSL.html">Rock, Paper, Scissors, Spock, Lizard</a>.
                    </p>
                    <p>
                        Here's what you need to know:
                    </p>
                    <ul>
                        <li>Scissors cut paper</li>
                        <li>Paper covers rock</li>
                        <li>Rock crushes lizard</li>
                        <li>Lizard poisons Spock</li>
                        <li>Spock smashes scissors</li>
                        <li>Scissors decapitate lizard</li>
                        <li>Lizard eats paper</li>
                        <li>Paper disproves Spock</li>
                        <li>Spock vaporizes rock</li>
                        <li>Rock crushes scissors</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
