{% extends "::base.html.twig" %}

{% block title %}Ro Sham Bo: The Next Generation{% endblock %}

{% block body %}
    <h4>Choose your move, human!</h4>
    <form method="post" action="{{ path('results') }}" id="move-chooser">
        {% for choice in choices %}
            <button type="submit" name="choice" value="{{ choice }}"
                    id="choice{{ choice }}" class="btn btn-primary">{{ choice }}</button>
        {% endfor %}
    </form>
{% endblock %}

{% block stats %}
    {{ include('@App/RoShamBoTng/stats.html.twig', {'gameStats': gameStats}) }}
{% endblock %}
