{% extends "::base.html.twig" %}

{% block title %}And the winner is...{% endblock %}

{% block body %}
    <div class="row moves-display">
        <div class="col-xs-6">
            <h6>Player 1</h6>
            <h5>{{ playerOne.name }}</h5>
            <h2>{{ playerOne.choice }}</h2>
        </div>
        <div class="col-xs-6">
            <h6>Player 2</h6>
            <h5>{{ playerTwo.name }}</h5>
            <h2>{{ playerTwo.choice }}</h2>
        </div>
    </div>
    <div class="row results">
        {{ result }}
    </div>
    <div class="row links">
        <a href="{{ path('homepage') }}" class="btn btn-success">Play Again!</a>
    </div>
{% endblock %}

{% block stats %}
    {{ include('@App/RoShamBoTng/stats.html.twig', {'gameStats': gameStats}) }}
{% endblock %}
