<hr>
<h4 style="padding: 0">Statistical Niftyness</h4>
<table class="table table-bordered">
    <caption>Win Counts</caption>
    <thead>
        <tr>
            {% for name in players %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for name in players %}
                <td>{{ gameStats[name].wins }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <caption>All-time Move Choices</caption>
    <thead>
        <tr>
            <th>&nbsp;</th>
            {% for name in players if name != 'Draw' %}
            <th>{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for move in moveChoices %}
        <tr>
            <td>{{ move }}</td>
            {% for name in players if name != 'Draw' %}
            <td>{{ gameStats[name].moveTotals[move] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
