/*
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    font-family: "Kanit", sans-serif;
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-style: italic;
}

h3 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 12px;
}

.game-controls {
    text-align: center;
}

.results {
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
}

.links {
    padding-top: 24px;
}

.moves-display {
    padding-top: 12px;
    margin-top: 24px;
    border-top: 1px dotted #ccc;
}

.help-section {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

th {
    width: 33%;
    text-align: center;
}
